/*
 *
 * COLORS
 *
 */

html {
    color: var(--primary-text);
    background-color: var(--primary-background);
}
a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: var(--secondary-text)
}
.allianceRed {
    color: var(--alliance-red);
    border: var(--alliance-red) solid medium;
    border-radius: var(--border-radius);
    margin: 0.25rem;
}
.allianceBlue {
    color: var(--alliance-blue);
    border: var(--alliance-blue) solid medium;
    border-radius: var(--border-radius);
    margin: 0.25rem;
}
.errorMessage {
    color: var(--alliance-red);
}
#layout > header{
    background-color: var(--title-bar-background);
}
.gold {
    fill: goldenrod;
}

.star-outline{
    fill: var(--primary-text);
}
.star-filled{
    fill: goldenrod;
}
.star-empty{
    fill: var(--primary-background);
}

.human-feedback,
.match-select{
    input {
        background-color: var(--title-bar-background);
        color: var(--primary-text);
        &::placeholder {
            color: var(--thirdendary-text);
        }
    }
}
.syncLoading {
}
.syncRed {
    color: red;
    fill: red;
}
.syncGreen {
    color: green;
    fill: green;
}
.match-select .team-select button:disabled {
    color:gray;
    background-color: darkgray
}