.icon {
    display: inline-block;
    width: 2rem;
    height: 1.75rem;
    fill: var(--primary-text);
    margin-top: 0.5rem;
}

footer {
    menu li{
        list-style: none;
        display: inline-block;
        padding: 0 .6rem;
    }
}

.red-auto-map,
.blue-auto-map {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-areas: "left center right";
    aspect-ratio: 1376/494;
    width: 100%;
    div{
        margin-top: 2rem;
        justify-self: center;
        align-self: center;
        button {
            margin: 0.35rem;
        }
    }
}

#start-button,
.next-button {
    width: 10rem;
    button {
        width: 100%;
    }
}

.external-team-number {
    justify-self: center;
    width:100%;
    span {
        justify-self: center;
        align-self: center;
        display: block;
    }
}

.algae {
    font-weight: 900;
    color: lightseagreen;
    text-decoration: none;

}
.coral {
    font-weight: 900;
    color: lightgrey;
}
button {
    font-size: 0.8rem;
    border-radius: var(--border-radius);
}
.team {
    font-size: 1.5rem;
    padding: 0.3rem;
    align-self: center;
    justify-self: center;
}

.phase-selector-switch{
    border-style: solid;
    border-radius: var(--border-radius);
    border-width: 1px;
    width: 100%;
    button {
        margin: 0;
        border-width: 0;
        padding: 0;
    }
}

.phase-selector-switch span{
    padding: 0 0.5rem;
}

.red-field-container,
.blue-field-container{
    max-height: calc(var(--min-main-height) - var(--header-height));/*todo: fixme it doesn't work*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.red-field-container{
    background-image: url("../2025/fields/reefscape-red.png");
}
.blue-field-container{
    background-image: url("../2025/fields/reefscape-blue.png");
}

.red-auto-map,
.blue-auto-map {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.red-auto-map{
    background-image: url("../2025/fields/automap-red.png");
}
.blue-auto-map{
    background-image: url("../2025/fields/automap-blue.png");
}

.camoButton{
    background: none;
    outline: none;
    border: none;
}

.disabled-button {
    background: var(--alliance-red);
}

.starButton {
    padding: 0;
    max-width: 3rem;
    height: 3rem;
}

.sub-title {
    margin: 0.5rem;
}

.rp-label {
    padding: 0 1rem;
}

.checkbox-and-label {
    display: inline-block;
    white-space: nowrap;

    input {
        vertical-align: middle;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: var(--border-radius);
    }

    span {
        vertical-align: middle;
        margin-left: .5rem;
    }
}

.checklist {
    width: 100%;
    padding-left: 4rem;
    padding-bottom: 0.5rem;

    label {
        display: inline-block;
        width: 80%;
        margin-right: 1rem;
    }

    label.shared {
        width: 45%;
    }

    label span,
    label input {
        line-height: 1.5rem;
    }
}

.spinner {
    height: 1.5rem;
    width: 1.5rem;
    border: 6px solid;
    border-color: var(--alliance-red) transparent var(--primary-text) transparent;
    border-radius: 50%;
    animation: spin 1.3s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(-360deg)
    }
}

.rotating {
    animation: spin 1.3s linear infinite;
}


.googleExampleContentPreStyle {
    white-space: pre-wrap;
}
table.tools {
    td {
        padding: 0.25rem;
        vertical-align: top;
        p:first-of-type {
            margin-top: 0;
        }
    }
}
/*
 *
 * FORMS
 *
 */
button,
input,
textarea,
select {
    border-style: solid;
    border-radius: var(--border-radius);
    padding: 0.35rem .75rem;
}
#quick-comment-comment {
    width: 90%;
    height: 5rem;
}
section.tournamentAdmin,
section.scheduleAdmin,
section.strategyareasAdmin,
section.sequencetypesAdmin,
section.usersAdmin{
    table td,
    table th {
        padding: 0.25rem .5rem;
    }
    table tbody tr:nth-child(odd) {
        background-color: #777;
        color: #fff;
    }
    button.adminListViewDetailsButton {
        margin-left: .4rem;
        font-size: .4rem;
        padding: 0.25rem .5rem;
        text-transform: uppercase;
    }
}

.disabled-item {
    color: gray;
    opacity: 0.5;
    font-style: italic;
}

.sync-now-button {
    margin-bottom: 1rem;
}

section.sync-status {
    margin-bottom: 0.5rem;
    .sync-status-component,
    .sync-status-completion,
    .sync-status-error {
        display: inline-block;
    }
    .sync-status-last-sync-long,
    .sync-status-last-sync-ultra-short {
        display: none;
        margin: 0 .5rem;
    }
    @media screen and (min-width: 400px) {
        .sync-status-last-sync-long {
            display: inline-block;
        }
    }
    @media screen and (max-width: 399px) {
        .sync-status-last-sync-ultra-short {
            display: inline-block;
        }
    }
    .sync-status-component {
        width: 9rem;
    }
    .sync-status-completion {
        span.icon {
            height: .8rem;
            width: .8rem;
            padding-top: 0;
            margin-top: 0;
        }
    }
}