:root {
    --header-height: 5rem;
    --footer-height: 4rem;
    --border-radius: 0.6rem;
    --min-main-height: calc(100vh - var(--header-height) - var(--footer-height));
}

/*
 *
 * COLORS
 *
 */
:root {
    --primary-text: #222;
    --primary-background: #eed;
    --secondary-text: blue;
    --secondary-background: #eed;
    --alliance-red: red;
    --alliance-blue: navy;
    --title-bar-background: #444;
    --thirdendary-text: #333;
}
@media (prefers-color-scheme: dark) {
    :root {
        --primary-text: #eed;
        --primary-background: #222;
        --secondary-text: skyblue;
        --secondary-background: #222;
        --alliance-red: red;
        --alliance-blue: dodgerblue;
        --thirdendary-text: #aaa;
    }
}