html {
    body {
        margin: 0;
        padding: 0;
    }
}

#layout {
    > header {
        display: grid;
        grid-template-columns: 2fr 5fr 2fr;
        height: var(--header-height);
        color: var(--color-text-inverse);
        border-bottom: 3px solid rgba(0, 0, 0, 0.2);
        #logo {
            img {
                max-height: 3.5rem;
            }
            align-self: center;
        }
        #title{
            align-self: center;
            justify-self: center;
            img {
                padding-top: 13px;
                width: 100%;
            }

        }
        .header-actions {
            justify-self: end;
            align-self: center;
            display: flex;
            align-items: center;
            gap: 0.25rem;
            padding-right: 0.5rem;
        }
        .header-actions .icon {
            margin-top: 0;
        }
    }

    footer {
        display: grid;
        grid-template-columns: 1fr;
        min-height: var(--footer-height);
        margin-top: 0.5rem;
        padding-bottom: var(--space-sm);
        div, menu {
            justify-self: center;
            align-self: center;
            text-align: center;
            margin: 0;
            padding: 0;
        }
    }
}

main {
    padding: 0 var(--space-lg);
    min-height: var(--min-main-height);
}

@media screen and (min-width: 900px) {
    #layout > header,
    main,
    footer {
        padding-left: calc(10% + var(--space-lg));
        padding-right: calc(10% + var(--space-lg));
    }
}

.scout-select {
    display: flex;
    align-self: center;
    align-content: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}
