/*Light Mode Colors*/
:root {
    --defence: rgb(208, 198, 227);
    --auto-algae: rgb(222, 255, 246);
    --auto-coral-pickup: rgb(251, 240, 246);
    --auto-coral-score: rgb(251, 248, 235);
    --teleop-algae: rgb(212, 246, 234);
    --teleop-coral-pickup: rgb(238, 217, 228);
    --teleop-coral-score: rgb(251, 243, 204);
    --endgame: rgb(213, 225, 243);
    --penalties: rgb(249, 234, 234);
    --comments: rgb(245, 230, 205);
    --yes: rgb(222, 234, 211);
    --no: rgb(233, 205, 204);
}

/*Dark Mode Colors*/
@media (prefers-color-scheme: dark) {
    :root {
        --defence: rgb(46, 39, 73);
        --auto-algae: rgb(49, 76, 69);
        --auto-coral-pickup: rgb(74, 65, 73);
        --auto-coral-score: rgb(74, 69, 52);
        --teleop-algae: rgb(38, 78, 64);
        --teleop-coral-pickup: rgb(62, 39, 56);
        --teleop-coral-score: rgb(64, 55, 15);
        --endgame: rgb(38, 49, 64);
        --penalties: rgb(62, 54, 58);
        --comments: rgb(51, 36, 0);
        --yes: rgb(47, 81, 11);
        --no: rgb(147, 31, 30);
    }
}

section.report{
    overflow: scroll;
    font-size: 12pt;
    table, th, td {
        border: 1px solid var(--primary-text);
        border-collapse: collapse;
        min-width: 2rem;
        max-width: 2rem;
        text-align: center;
    }

    td {
        align-content: center;
        justify-content: center;
        padding: 5px 0;
    }

    thead td {
         text-wrap: nowrap;

         div {
             transform: rotate(-90deg);
             margin: 0 -5rem;
         }
         height: 11.3rem;
     }
    thead td.short-text,
    tbody td.short-text {
        max-width: 175px;
        min-width: 175px;
        overflow: unset;
    }

}
section.team-report {
    font-size: 12pt;
    .go-button {
        margin-left: .6rem;
        padding: .2rem;
        font-size: 10pt;
    }
    table {
        margin-top: 1rem;
    }
    th, td {
        border-style: solid;
        border-width: thin;
        margin: 0;
        padding: .25rem;
    }
    .team-report-date {
        min-width: 6rem;
    }
    .team-report-team {
        min-width: 3rem;
    }
    .team-report-comment {
        min-width: 12rem;
    }
}

.teleop-coral-pickup {
    background-color: var(--teleop-coral-pickup);
}
.auto-coral-pickup {
    background-color: var(--auto-coral-pickup);
}
.teleop-coral-score {
    background-color: var(--teleop-coral-score);
}
.auto-coral-score {
    background-color: var(--auto-coral-score);
}
.teleop-algae{
    background-color: var(--teleop-algae);
}
.auto-algae{
    background-color: var(--auto-algae);
}
.defence {
    background-color: var(--defence);
}
.endgame-cell {
    background-color: var(--endgame);
}
.penalties {
    background-color: var(--penalties);
}
.comments {
    background-color: var(--comments);

}


.yes {
    background-color: var(--yes);
}
.no{
    background-color: var(--no);
}