html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 700px) and (min-height: 500px) {
    html {
        font-size: 24px;
    }
}
@media screen and (min-width: 1000px) and (min-height: 1000px) {
    html {
        font-size: 32px;
    }
}

h1 {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: -0.02em;
}
h2 {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -0.01em;
}
h3 {
    font-size: 1.2rem;
    font-weight: 700;
}
h4 {
    font-size: 1rem;
    font-weight: 700;
}

#title {
    font-size: 1.5rem;
    font-weight: 800;
}

footer {
    div {
        font-weight: 400;
        font-size: small;
    }
    menu li {
        font-size: smaller;
        font-weight: 400;
    }
}
